{% extends 'layouts/app.twig' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

	<div class="columns">
		<div class="column is-half-tablet is-offset-one-quarter-tablet">
			<h2 class="title is-2 has-text-black-ter">
				Change password
			</h2>

			<div class="box">
				{% include 'layouts/partials/_flash.twig' %}
				
				<form action="{{ path_for('auth.reset.store') }}" method="POST">
					{{ csrf_field() | raw }}

					<div class="field">
						<label class="label" for="password_old">Current password</label>

						<div class="control">
					    	<input 
					    		class="input is-medium{{ errors.password_old ? ' is-danger' : '' }}" 
					    		type="password" 
					    		name="password_old"
					    		value="{{ old.password_old }}"
					    	>
					    </div>

					    {% if errors.password_old %}
							<p class="help is-danger">
								{{ errors.password_old|first }}
							</p>
					    {% endif %}
					</div>

					<div class="field">
						<label class="label" for="password">Password</label>

						<div class="control">
					    	<input 
					    		class="input is-medium{{ errors.password ? ' is-danger' : '' }}" 
					    		type="password" 
					    		name="password"
					    		value="{{ old.password }}"
					    	>
					    </div>

					    {% if errors.password %}
							<p class="help is-danger">
								{{ errors.password|first }}
							</p>
					    {% endif %}
					</div>

					<div class="field">
						<button class="button is-medium is-dark is-fullwidth">
							Change password
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
